.container{
    height: calc(100vh - var(--footer-height));
    display: flex;
}

.grid-wrapper{
    flex: 4;
    overflow-y: auto;
}

.control-wrapper{
    flex: 1;
    padding: 10px;
    text-align: center;
}

.list-grid{
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.item{
    animation: opacity 1s;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

/* modifier classes */

.color-1 {
    background: var(--color-blue-dark);
}
.color-2 {
    background: var(--color-grey-med);
}
.color-3 {
    background: var(--color-blue-med);
}
.color-4 {
    background: var(--color-blue-light);
}
.color-5 {
    background: var(--color-blue-dark);
}
.color-6 {
    background: var(--color-grey-dark);
}
.color-7 {
    background: var(--color-grey-light);
}
.color-8 {
    background: var(--color-blue-med);
}
.color-9 {
    background: var(--color-blue-light);
}

.control{
    margin: 20px 10px;
}

.button{
    background: var(--color-blue-light);
    border: 0;
    padding: 10px;
    width: var(--btn-width);
    box-shadow: 0 2px 1px 1px var(--color-blue-med);
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 700;
    font-size: .75rem;
    cursor: pointer;
    outline: none;
    transition: background .7s;
}

.button:hover{
    background: var(--color-blue-dark);
}

.button:active{
    box-shadow: 0 1px 1px 1px var(--color-blue-med);
}

.footer{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 8px;
    text-align: center;
    width: 100%;
    height: var(--footer-height);
}